<header>
    <nav class="navbar">
      AppName
      <button class="logout" type="button">
          LOGOUT
      </button>
      <button class="results" type="button">
          RESULTS
      </button>
    </nav>
  </header>
