<header class="main-header">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LogOut</a>
        </li>
      </ul>
</header>



