<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sizing.css" type="text/css" />



    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>

      <header>
          <nav class="navbar">
            PollEatin
            <form method="GET" action="/login/logout">
              <button type="submit" class="logout">
                LOGOUT
             </button>
            </form>

            <button class="results" type="button">
                RESULTS
            </button>
          </nav>
        </header>

        <div class="newDiv">
            <div>
                <h1>CREATE A NEW POLL</h1>
            </div>
            <main class="container">
              <section class='new-poll-input'>
                <form class="poll-form-name" action="/home" method="POST">
                    <h4 class='results-table-one'>Title:</h4>
                    <br>
                    <textarea name="title" placeholder="name" class="pollForm"></textarea>
                    <section class="new-poll-description"></section>
                    <h4 class='results-table-one'>Description:</h4>
                    <br>
                    <textarea name="description" placeholder="description" class="pollForm"></textarea>
                    </section>
                    <br>
                    <section class="new-poll-end">
                        <h4 class="endIn">End In:</h4>
                        <select name="formEnd">
                            <option value="3">3 mins</option>
                            <option value="5">5 mins</option>
                            <option value="10">10 mins</option>
                            <option value="15">15 mins</option>
                            <option value="30">30 mins</option>
                            <option value="60">60 mins</option>
                            <option value="360">6 hours</option>
                            <option value="1440">24 hours</option>
                            <option value="2880">48 hours</option>
                        </select>
                        <br>
                        <br>

                <input type="submit" value="SUBMIT">
              </form>
                </section>
              </section>
                <br>
            </main>
        </div>
        </div>
</body>
<script type="text/javascript" src="/scripts/redirection.js"></script>

</html>
