<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>


    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
     <!-- Top nav bar (fixed) -->
     <nav class="navigation">
        <span>AppTitle</span>
        <span class="logout">
          <button type="button" class="lesultsButton">
           Results
          </button>
          <button type="button" class="logoutButton">
            Logout
          </button>
        </span>
      </nav>

      <div class ="newDiv">

         <!--Header-->
     <header class="main-header">
        <div>
          <h1>CREATE A NEW POLL</h1>
        </div>
      </header>
        <main class="container" action="/home" method="POST">
          <section class="new-poll-name">
            <form class="poll-form-name">
              Title: <br><textarea name="text" placeholder="name"class="pollForm"></textarea>
            </form>
          </section>
          <br>
          <section class="new-poll-description">
            <form class="poll-form-description">
              Description: <br><textarea name="text" placeholder="description" class="pollForm"></textarea>
            </form>
          </section>
          <br>
          <section class="new-poll-end">
            <form class="poll-form-end">
              End In:
              <select name="form-end">
                  <option value="volvo">3 mins</option>
                  <option value="saab">5 mins</option>
                  <option value="fiat">10 mins</option>
                  <option value="audi">15 mins</option>
                  <option value="audi">30 mins</option>
                  <option value="audi">60 mins</option>
                  <option value="audi">6 hours</option>
                  <option value="audi">24 hours</option>
                  <option value="audi">48 hours</option>
                </select>
                <br><br>
            </form>
            <input type="submit" value="SUBMIT">
          </section>
          <br>
        </main>
      </div>
    </div>
  </body>
</html>
