<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>


    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/redirection.js"></script>
  </head>

  <body>
     <!-- Top nav bar (fixed) -->
     <nav class="navigation">
        <span>AppTitle</span>
        <span class="logout">
          <form action="/results" method="GET">
            <button type="submit" class="resultsButton" id="results-button">
             Results
          </button>
          </form>
          <form action="/login" method="GET">

            <div>
              <button type="submit" href="/login" class="btn btn-primary">Login</button>
            </div>
          </form>

        </span>
      </nav>

      <div class ="newDiv">

         <!--Header-->
     <header class="main-header">
        <div>
          <h1>CREATE A NEW POLL</h1>
        </div>
      </header>
        <main class="container" >
            <form class="poll-form-name" action="/home" method="POST">

              <h4>Title:</h4> <br><textarea name="title" placeholder="name"class="pollForm"></textarea>


          <section class="new-poll-description"></section>

              <h4>Description:</h4> <br><textarea name="description" placeholder="description" class="pollForm"></textarea>

          </section>
          <br>
          <section class="new-poll-end">

              <h4 class="endIn">End In:</h4>
              <select name="formEnd">
                  <option value="3">3 mins</option>
                  <option value="5">5 mins</option>
                  <option value="10">10 mins</option>
                  <option value="15">15 mins</option>
                  <option value="30">30 mins</option>
                  <option value="60">60 mins</option>
                  <option value="360">6 hours</option>
                  <option value="1440">24 hours</option>
                  <option value="2880">48 hours</option>
                </select>
                <br><br>
            </form>
            <input type="submit" value="SUBMIT">
          </section>
          <br>
        </main>
      </div>
    </div>
  </body>
</html>
