<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Polls</title>


    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
     <!-- Top nav bar (fixed) -->
     <nav class="navigation">
        <span>AppTitle</span>
        <span class="logout">
          <button type="button" class="lesultsButton">
           Results
          </button>
          <button type="button" class="logoutButton">
            Logout
          </button>
        </span>
      </nav>

         <!--Header-->
     <header class="main-header">
        <div>
          <h1>POLLS</h1>
        </div>
      </header>
      <div>
      <main class="container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lorem ipsum, porta a quam at, cursus lacinia ligula. Vestibulum a eros volutpat, mattis felis a, ullamcorper quam. Integer non lacus varius, bibendum neque non, rhoncus magna. Praesent in ipsum vel leo auctor dignissim vitae ac purus. Curabitur venenatis fermentum efficitur. Nulla maximus, elit eget viverra scelerisque, sem diam elementum arcu, nec sagittis erat purus molestie quam. Nam et lacinia magna, vel semper magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam porttitor erat a tempor aliquam. Phasellus sed pharetra odio. Morbi efficitur lacus quis.
          </p>
        </section>
      </main>
      </div>
  </body>
</html>
