<!DOCTYPE html>
<html lang="en">

<head>
    <title>Results</title>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

    <% include partials/_header %>

        <div>
            <h1>RESULTS</h1>
        </div>

        <main class="container results">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                   <td><%= Object.values(results)[0].name %></td>
                   <td><%= Object.values(results)[0].description %></td>
                <tr>


                </tr>
            </table>
            <table style="width:100%">
              <thead>
                <tr>
                    <th scope="col">Food</th>
                    <th>Ranking</th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <% for(let i in results) { %>
                   <% if(results[i].hasOwnProperty('food')) { %>
                   <td><%= results[i].food %></td>
                   <% } %>
                  <% } %>
                </tr>
                <tr>
                    <% for(let i in results) { %>
                     <% if(results[i].hasOwnProperty('points')) { %>
                     <td><%= results[i].points  %></td>
                     <% } %>
                    <% } %>
                  </tr>
                  <tr>

                  </tr>
              </tbody>
            </table>
        </main>



</body>

</html>




