<!DOCTYPE html>
<html lang="en">

<head>
    <title>Results</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Bungee|Source+Sans+Pro:300,300i,600,600i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newPolls.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
    <% include partials/_header %>

        <div>
            <h1>RESULTS</h1>
        </div>

        <main class="container results">
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                   <td><%= Object.values(results)[0].name %></td>
                   <td><%= Object.values(results)[0].description %></td>
                <tr>


                </tr>
            </table>
            <table style="width:100%">
              <thead>
                <tr>
                    <th scope="col">Food</th>
                    <th>Ranking</th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <% for(let i in results) { %>
                   <% if(results[i].hasOwnProperty('food')) { %>
                   <td><%= results[i].food %></td>
                   <% } %>
                  <% } %>
                </tr>
                <tr>
                    <% for(let i in results) { %>
                     <% if(results[i].hasOwnProperty('points')) { %>
                     <td><%= results[i].points  %></td>
                     <% } %>
                    <% } %>
                  </tr>
                  <tr>

                  </tr>
              </tbody>
            </table>
        </main>

        <script type="text/javascript" src="/scripts/results_index.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>




