.passwordForm {
  width: 500px;
}

.loginForm {
  width: 500px;
}

.loginPassword {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.loginH1 {
  margin-top: 150px;
}


