nav {
  background: #101357;
  height: 70px;
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  padding: 1em;
  color: #fbaf08;
 }

.nav-item {
  color: #fbaf08;
}

.results {
  float: right;
  margin-bottom: 0.5em;
  padding-bottom: 8px;
  padding-top: 8px;
}

.logout {
  margin-left: 1em;
  float: right;
  margin-bottom: 0.5em;
  padding-bottom: 8px;
  padding-top: 8px;
}


