main {
  justify-content: center;
  display:flex;
  flex-direction: column;
}

header .main-header {
  display: flex;
  height: 20px;
  // flex-direction: column;
}

.pollForm {
  width: 500px;
}

input[type="submit"] {
  width: 500px;
}

.newDiv {
  background: #fea49f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poll-form-name {
  background: transparent;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.poll-form-description {
  margin-bottom: 10px;
}

.poll-formEnd {
  margin-bottom: 10px;
}

.poll-formEnd {
  margin-left: 1em;
}

[name = 'text'] {
  border-style: solid;
  border-width: 2px;
  border-color: #101357;
}

.new-poll-end {
  display:flex;
  flex-direction: column;
}

.endIn {
  margin-bottom: 10px;
}

[name = formEnd] {
  cursor: pointer;
}


