.flexbox-polls-divider {
  display:flex;
}

.pollsForm {
  // position:fixed;
  display: flex;
  flex-direction: column;
  flex:2 0 0;
}

.option {
  height: auto;
  width: 100%;
  border: solid;
  margin: 3px;
  border-radius: 15px;

}

textarea {
  width:100%;
}

.container {
  flex:1 0 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:30px;
}

.headerBlock {
  max-height: 250px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.restaurantContainer {
  display:flex;
  flex-direction: column;
}

.restaurant {
  border-radius: 15px;
  border:solid;
  margin:15px;
  display:flex;
}

.resContext {
  flex-basis:80%;
  align-items:left;

}

.pictures {
  align-items: right;
}

.place-restaurant {
  text-align: center;
}

.poll-dropboxes {
  text-align: center;
}

.container {
  margin-top: 0px;
}
