.flexbox-polls-divider {
  display:flex;
}

.pollsForm {
  // position:fixed;
  display: flex;
  flex-direction: column;
  flex:2 0 0;
}

.option {
  height: auto;
  width: 100%;
  border: solid;
  margin: 3px;
  border-radius: 15px;

}

textarea {
  width:100%;
}

.container {
  flex:1 0 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.headerBlock {
  max-height: 250px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}
.restaurantContainer {
  display:flex;
  flex-direction: column;
  margin-left: 200px
}

.restaurant {
  border-radius: 15px;
  border:solid;
  margin:15px;
  display:flex;
}

.resContext {
  flex-basis:80%;
  align-items:left;

}

.pictures {
  align-items: right;
}

#inputHidden {
  display: none
}

.place-restaurant {
  text-align: center;
}

.poll-dropboxes {
  text-align: center;
}


#polls {
  cursor: url('/assets/firstChop.png'), pointer;
}

#polls:active {
  cursor: url('/assets/secondChop.png'), pointer;
}

.TESTING {
  margin-left: 10em;
}

.restaurantContainer {
  margin-top: 3em;
  margin-left: 100px;
}

#polls-right-column {
  margin-right: 5em;
  margin-top: 3em;
}


.marginMove {
  margin-left: 6px;
}

.restaurant-picture {
  margin: 15px;
  height:150px;
  width: 200px;
}

.PlaceText{
  font-size: 20px;
  font-weight: bold;
}

.topMargin {
  margin-top: 10%;
}
