body {
  .results-info {
    text-align: center;
    margin-bottom: 2em;
  }
  .results-data {
    text-align: center;
  }

  .results-name {
    padding-left: 115px;
  }

  .results-table {
    width: 70%;
    margin: 0 auto;
  }

  #first-result-table {
    border-bottom: 25px solid #fbaf08;
  }

  td {
    line-height: 2em;
    cursor: url('/assets/chopsticks.png'), pointer;
  }

  table {
    color: #101357;
    background-color: #FA8072;
    font-size: 20px;
    .results-table-one {
      text-align: center;
    }
  }

  tr:hover {background-color: #fbaf08;
  }
}
